* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: gray;
}
.container {
  width: 800px;
  background-color: #222222;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}
.studentName {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.input {
  width: 69%;
  height: 2rem;
  padding-left: 10px;
}

/* Random classes */

.ml {
  margin-left: 0.4rem;
}
.mr {
  margin-right: 0.4rem;
}
.mx-auto {
  margin: 0 auto;
}
.my-20 {
  margin: 20px 0;
}
.w-fc {
  width: fit-content;
}
.w-40 {
  width: 40%;
}
.w-90 {
  width: 90%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.border {
  border: 1px solid white;
}

/* Table */

.table {
  border-collapse: collapse;
  margin: 40px auto;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.table th {
  background-color: #3498db;
}
.table th,
.table td {
  padding: 12px 15px;
}
.table td {
    text-transform: capitalize;
}
.table tr {
  border-bottom: thin solid #dddddd;
}
.table tr:nth-of-type(even) {
  background-color: #375a7f;
}

/* Buttons  */
.btn,
.greenBtn,
.redBtn,
.yellowBtn {
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.btn {
  background-color: #3498db;
}
.btn:hover {
  background-color: #21618b;
}
.btn:active {
  background-color: #153d57;
}
.greenBtn {
  background-color: #00bc8c;
}
.greenBtn:hover {
  background-color: #018261;
}
.greenBtn:active {
  background-color: #005e46;
}
.redBtn {
  background-color: #e74c3c;
}
.redBtn:hover {
  background-color: #ac392c;
}
.redBtn:active {
  background-color: #7c2b22;
}
.yellowBtn {
  background-color: #f39c12;
}
.yellowBtn:hover {
  background-color: #b8770e;
}
.yellowBtn:active {
  background-color: #8f5c0b;
}
